.fc-daygrid-day {
  min-width: 250px;
  /* Adjust the width as needed */
}

.fc-timegrid-slot {
  height: 110px !important; /* Set the height for each time slot */
}

/* .fc-day {
  width: 100px; 
} */