/* styles/SearchBar.module.css */
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  margin-right: 8px;
}

.search-button {
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.menu-search-result-list {
  height: 200px;
  overflow: auto;
}

.menu-search-result-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Add padding for better visual appearance */
  border-bottom: 1px solid #ccc; /* Optional: Add a border between list items */
}
